body {
    font-family: 'Montserrat', sans-serif;
}
#title {
    background-color: #ff4c68;
    color: #fff;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
h2 {
    
    line-height: 1.5;
    font-size: 3rem;
}
h3 {
    
    font-size: 1.5rem;
}
.big-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}
.container-fluid {
    padding: 3% 15% 7%;
}
.navbar {
    padding-bottom: 4.5rem;
}
.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item {
    padding: 0 18px;
}
.nav-link {
    font-size: 1.2rem;
    font-weight: 400;
}
.download-button {
    margin: 5% 3% 5% 0;
}
.title-image {
    width: 16%;
    transform: rotate(25deg);
    position: absolute;
    left: 62%;
    
    
}

.features-p {
    color: #8f8f8f;
}
.features-icon {
    color: #ef8172;
    margin-bottom: 1rem;
       
}
.feature-box {
    text-align: center;
    padding: 5%;
}
#features {
    padding: 7% 15% 1%;
    background-color: #fff;
    position: relative;
    
}
.features-icon:hover {
    color: #ff4c68;
}
#testimonials {
    
    text-align: center;
    background-color:#ef8172 ;
    color: #fff;
}
.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press {
    background-color:#ef8172 ; 
    text-align: center;
    padding-bottom: 3%;
}
.press-image {
    width: 12%;
    margin: 20px 20px 50px;
}
.carousel-item {
    padding: 7% 15%;
}
#pricing {
    padding: 100px;
    text-align: center;
}
.pricing-col {
    padding: 3% 2%;
}
.btn-dark:hover {
    background-color: rgb(48, 47, 47);

}
@media (max-width:1028px) {
    #title {
        text-align: center;
    }
    .title-image {
        position: static;
        transform: rotate(0);
        width: 40%;
    }
}
#cta {
    background-color: #ff4c68;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 900;
    text-align: center;
    
    
}
.cta-title {
    font-size: 3rem;
    width: 50%;
    margin: auto;
    padding: 7% 0 0 0;
    line-height: 1.5;
}
#footer {
    
    background-color: #fff;
    text-align: center;
    margin: 7% 15%;
}
.footer-icon {
    color: black;
    margin: 20px 10px;
    
    
}
.footer-icon:hover {
    color: grey;
}


